doctype html
html(lang="en")
    head
        title #{pageTitle}
        link(rel="stylesheet", href="/css/style.css")
    body
        a(href='/') Return to the homepage
        .form-wrapper
            strong New song info
            form(method="POST")
                label(for="name") Song name:
                input(type="text" name="name" required)
                label(for="release_date") Release date:
                input(type="date" name="release_date")
                label(for="length") Length:
                input(type="text" name="length")
                label(for="average_rating") Average Rating (1-10):
                input(type="text" name="average_rating")
                label(for="spotify_plays") Length:
                input(type="text" name="spotify_plays")
                input(type="submit" value="Submit")